<div class="show-sports-page-info">
  <h2 data-id=<%=@sport.id%>><%= @sport.name %></h2>
  <%= link_to 'Add a new community', new_sport_community_path(@sport) %>  
</div>

<div id="map-canvas"></div>

<div class="sport-communities-all">
  <h3>Communities:</h3>
  <div class="communities-exist">
    <% @sport.communities.each do |community| %>
      <div class="sport-show-communities">
        <p><%= community.name %></p> 
        <%= link_to community.post_code, sport_community_path(@sport, community) %>
      </div>
    <% end %>
  </div>
</div>

<div class="sport-posts">
  <h3>Latest Posts about <%= @sport.name %>:</h3>
  <div class="sport-latest-post">
    <% @latest_posts.each do |post| %>
      <div class="sport-single-post">
        <h4><%= post.community.name %>, <%= post.community.post_code %></h4>
        <p>has a new post:</p>
        <h3><%= post.title.length < 32 ? post.title : post.title.slice(0..30) + '...' %></h3>
        <%= link_to 'Read More', sport_community_post_path(@sport, post.community_id, post) %>
      </div>
    <% end %>
  </div>
</div>

