<div class="post-show-wrapper">
  <div class="post-show-heading">
    <h1><%= link_to @sport.name, sport_path(@sport), class: 'sport-name' %></h1>
    <h2 id="community-show-name"><%= @community.name %></h2>
    <img src="<%= @community.image %>">
  </div>
  <div class="post-show-content">
    <h1><%= @post.title %></h1>
    <h4>by <%= @post.user_name %></h4>
    <p><%= @post.content %></p>
    <h3>Comments</h3>
    <div class="comment-form">
      <%= form_for [@sport, @community, @post, @comment] do |f| %>
        <%= f.label :user_name  %>
        <%= f.text_field :user_name %>

        <%= f.label :content  %>
        <%= f.text_area :content %>

        <%= f.submit 'Submit' %>
      <% end %>  
    </div>  

    <% @post.comments.each do |comment| %>
      <div class="comment">
        <h3><%= comment.user_name %></h3>
        <p><%= time_ago_in_words(comment.created_at) %> ago</p>
      </div>
      <div class="comment-content">
        <p><%= comment.content %></p>
      </div>
    <% end %>
  </div>
</div>

