<%= form_for [@sport, @community] do |f| %>

  <%= f.label :name  %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :post_code %>
  <%= f.text_field :post_code %>

  <%= f.label :image %>
  <%= f.text_field :image %>

  <%= f.submit 'Submit' %>
  
  <% if @community.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@community.errors.count, "error") %> prohibited this community from being saved:</h2>
   
      <ul>
      <% @community.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

