<!DOCTYPE html>
<html>
<head>
  <title>LocalSportsApp</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <li id='brand-logo'><%= link_to 'SPORTIFY', root_path %></li>
      <li class="nav-link"><%= link_to 'HOME', root_path %></li>
    </nav>
  </header>

<%= yield %>

<footer>
  <li><%= link_to 'SPORTS', sports_path %></li>
  <li><%= link_to 'ABOUT', about_path %></li>
  <li><%= link_to 'CONTACT', contact_path %></li>
</footer>

</body>
</html>
